@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    @*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>@DateTime.Now</p>
    <p>
        بسیار مسرورم که اکنون این کتاب در دستان شماست. از صمیم قلب، امیدوارم این کتاب بتواند
        خدمتی به شما بکند و تحولی انقالبی در خالقیت، بهرهوری و کامیابی شما به وجود بیاورد.
        کلوب 5 صبح، بر اساس مفهوم و روشی است که برای بیش از بیست سال برای کارآفرینان برتر،
        مدیران ارشد شرکتهای بسیار معروف، سوپراستارهای ورزشی، افراد برتر حوزه موسیقی، و اعضای
        سلطنتی تدریس میکنم. من این کتاب را در مدت بیش از چهار سال در ایتالیا، آفریقای جنوبی،
        1 کانادا، سوئیس، روسیه، برزیل و جزیرهى مورىتیوس
        نوشتهام. گاهی نوشتههای این کتاب، خیلی
        راحت به ذهنم میآمدند و گاهی برای ادامه دادن کتاب، با سختیهایی روبرو میشدم. گاهی اوقات،
        میخواستم پرچم سفید را باال ببرم و تسلیم شوم و گاهی این مسئولیتپذیری، من را به ادامه دادن
        تشویق میکرد.
    </p>
</div>
